@media (min-width: 769px) {
    .grid-container {
        display: grid;
        grid-template-columns: 4, 1fr;
        grid-gap: 10px;
    }
    
    .liPink {
        grid-column: span 4;
        padding: 50px;
        background-color: #F5C6D6;
    }

    .pink {
        padding: 50px;
        background-color: #EE2E84;
    }

    .liBlue {
        grid-column: span 2;
        padding: 50px;
        background-color: #85CFD8;
    }

    .green {
        grid-column: span 3;
        padding: 50px;
        background-color: #8DC63F;
    }

    .orange {
        padding: 50px;
        background-color: #E76E34;
    }
}


@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1px;
    }

    .liPink {
        padding: 20px;
        background-color: #F5C6D6;
    }

    .pink {
        padding: 20px;
        background-color: #EE2E84;
    }

    .liBlue {
        padding: 20px;
        background-color: #85CFD8;
    }

    .green {
        padding: 20px;
        background-color: #8DC63F;
    }

    .orange {
        padding: 20px;
        background-color: #E76E34;
    }
}