.main-headline {
    color: blue;
    text-align: center;    
}

.second-headline {
    text-align: center;
}

.secondary-title {
    color: green;
}

/* corrected color */
* {
    background-color: lightcyan;
}

.headlines { 
    font-family: Georgia;
}

p {
    line-height: 20px;
}

b {
    color: lightcoral;
}

a {
    text-decoration:none
}

a:hover {
    text-decoration:underline;
}

/* changed to ID */
#caps {
    text-transform: uppercase;
}

.image {
    float: left;
    margin: 8px
}

/* parent selecting li child */
.list li {
    list-style-type: disc;
}