@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
#topper h1 {
    font-family: 'bebas neue';
}


@media (max-width:550px) {
    html {
        background-color: black;
        color: beige;
    }

    #topper {
        background-color: cadetblue;
        margin: 0 auto;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    #topper h1 {
        padding-left: 20px;
    }

    #topper:hover {
        color: black;
    }

    div a {
        color: beige;
        text-decoration: none;
    }

    #headerimg {
        margin-top: 100px;
    }

    .imgs {
        display: flex;
        width: 100%;
    }

    #mainHook {
        background-color: cadetblue;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mainHook h2 {
        padding-left: 10px;
    }

    #mainHook button {
        margin-right: 10px;
    }

    #poolBook {
        margin-top: 40px;
    }

    li  {
        max-width: 50%;
        background-color: grey;
        list-style: none;
        margin: 4vh auto;
        text-align: center;
        padding: 20px;
    }

    footer {
        text-align: center;
        margin-top: 30px;
    }
}

@media (min-width: 550px) and (max-width: 1000px) {
    html {
        background-color: black;
        color: beige;
    }

    #topper {
        background-color: cadetblue;
        margin: 0 auto;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: space-around;
        z-index: 100;
        align-items: center;
    }

    #topper:hover {
        color: black;
    }

    #topper h1 {
        padding-left: 20px;
    }

    header div a {
        font-size: x-large;
        text-decoration: none;
        color: beige;
    }

    #headerimg {
        margin-top: 100px;
    }

    .imgs {
        display: flex;
        width: 100%;
    }

    #mainHook {
        background-color: cadetblue;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mainHook h2 {
        padding-left: 10px;
    }

    #mainHook button {
        margin-right: 10px;
    }

    #poolBook {
        margin-top: 40px;
    }

    li  {
        max-width: 50%;
        background-color: grey;
        list-style: none;
        margin: 4vh auto;
        text-align: center;
        padding: 20px;
    }

    footer {
        text-align: center;
        margin-top: 30px;
    }
}

@media (min-width: 1000px) {
    html {
        background-image: url("https://images.pexels.com/photos/3566120/pexels-photo-3566120.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"); 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    #headerimg {
        display: none;
    }

    main {
        padding-top: 100px;
    }

    #poolBook {
        grid-area: sidebarL1;
    }

    #events {
        grid-area: sidebarL2;
    }

    #order {
        grid-area: sidebarL3;
    }

    main img {
        grid-area: sidebar2;
    }

    #mainHook {
        grid-area: grabber;
    }

    main {
        display: grid;
        grid-template-areas:
        "grabber grabber"
        "sidebarL1 sidebar2"
        "sidebarL2 sidebar2"
        "sidebarL3 sidebar2";
    }

    main {
        width: 90vw;
    }

    li {
        width: 40vw;
        font-size: xx-large;
    }

    footer {
        background-color: black;
        padding:30px;
    }
}