@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Monofett&display=swap');

html {
    background-color: black;
    color: white;
}

@media(max-width: 450px) {
    .main {
        display: grid;
        grid-gap: 20px;
    }

    .topic {
        grid-column: span 3;
    }
}

@media (min-width: 450px),(max-width: 1100px) {
    .main {
        display: grid;
        grid-gap: 20px;
    }


    #topic1 {
        grid-column: span 3;
    }

    #topic2 {
        grid-row: span 3;
    }
}

@media (min-width: 1100px){
    .main {
        display: grid;
        grid-gap: 20px;
    }

    #head {
        font-size: 400px ;
    }

    #topic1 {
        grid-column: span 3;

    }

    #topic2 {
        grid-row: span 3;
    }

    #topic3 {
        grid-column: 3/4;
        grid-row: 3/5;
    }
}

#head {
    text-align: center;
    font-size: xx-large;
    font-family: monofett;
    color: yellow;
    text-shadow: 0px 0px 14px;
    grid-column: span 3;
}

#topic1 {
    background-image: url(https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}

#topic2 {
    background-image: url(https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

#topic3 {
    background-image: url(https://images.pexels.com/photos/2323435/pexels-photo-2323435.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}

#topic4 {
    background-image: url(https://images.pexels.com/photos/2728255/pexels-photo-2728255.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}

#topic5 {
    background-image: url(https://images.pexels.com/photos/7915357/pexels-photo-7915357.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}

.topic {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px ;
    text-align: center;
    font-size: larger;
    font-family: bilbo;
    width: 90%;
    margin: 0 auto;

}

#container {
    padding-top: 40px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 10%;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    background-color: slategray;
    text-align: center;
    height: 40px;
}

nav a {
    padding: 10px;
}

nav a:hover {
    background-color: grey;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}